img {
  width: 100%;
}
a:hover {
  opacity: 0.6;
  transform: 0.2s;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  width: 100%;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  position: fixed;/*固定位置*/
  color: #000;
  top: 0;
  left: 0;
  z-index: 1;/*上に表示*/
}
.header__nav {
  margin: 0 0 0 auto;
}
.header__ttl {
  font-size: 24px;
  width: 80px;
}
.header__nav-list {
  display: flex;
  font-weight: bold;
  padding-right: 50px;
}
.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.top-mv {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 85vh;
  background: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  line-height: 2;
}
.top-mv__center {
  width: 80%;
  margin: auto;
}
.top-mv__text {
  font-size: 50px;
  font-weight: bold;
}
.top-mv__text-sub {
  font-size: 20px;
  font-weight: bold
}

.contact {
  width: 100%;
}
.contact-list {
  width: 80%;
  margin: 30px auto;
}
.contact-list-item {
  width: 100%;
  margin: 10px 0;
}
.contact-ttl {
  font-weight: bold;
}
.contact-important {
  color: red;
  padding-left: 5px;
}
.contact-list-item__input {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
}
.contact-list__textarea {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  resize: none;
  
}
.contact-btn {
  width: 200px;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
  background: #000;
  display: block;
  border: none;
  font-weight: bold;
  color: #fff;
}

.footer {
  width: 100%;
  background: #000;
  color: #fff;
  padding: 20px 0;
  font-size: 10px;
}
.footer-inner {
  width: 90%;
  margin: auto;
  display: flex;
}
.footer-nav__list {
  display: flex;
}
.footer-nav {
  margin: 0 0 0 auto;
}
.footer-nav__item {
  border-left: 1px solid #fff;
  padding: 0 10px;
}
.footer-nav__item:first-child {
  border-left: none;
}