img {
  width: 100%;
}
a:hover {
  opacity: 0.6;
  transform: 0.2s;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  margin: 0 auto;
  padding: 0 30px;
  position: sticky;/*固定位置*/
  color: #000;
  top: 0;
  left: 0;
  z-index: 1;/*上に表示*/
}
.header__nav {
  margin: 0 0 0 auto;
}
.header__ttl {
  font-size: 24px;
  width: 80px;
}
.header__nav-list {
  display: flex;
  font-weight: bold;
}
.header__nav-item:not(:last-child) {
  margin-right: 30px;
}
.menu {
  display: none;
}
.drawer-nav {
  display: none;
}

.top-mv {
  width: 100%;
  align-items: center;/*縦*/
  justify-content: center;/*よこ*/
  display: flex;
  height: 85vh;
  background: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  line-height: 1.5;
}
.top-mv__center {
  width: 80%;
  margin: auto;
  text-align: center;
}
.top-mv__text {
  font-size: 50px;
  font-weight: bold;
}
.top-mv__text-sub {
  font-size: 20px;
  font-weight: bold
}

.top-mv-sub {
  position: relative;
  background: #000;
  color: #fff;
  margin: auto;
}
.top-mv-sub-description {
  width: 80%;
  position: absolute;
  color: #fff;
  margin: 0 auto;
}
.top-mv-sub__ttl {
  display: flex;
  font-size: 25px;
  padding-top: 30px;
  padding-left: 50px;
}
.top-mv-sub__text {
  font-size: 15px;
  display: flex;
  line-height: 1.5;
  padding: 50px 50px;
}

.top-service {
  width: 100%;
}
.top-service__ttl {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}
.top-service__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-box {
  width: 40%;
  margin: 5%;
}
.top-service-box__ttl {
margin: 10px 0;
}
.top-service-box__text {
  line-height: 1.5;
}
.top-service-box__btn {
  width: 200px;
  padding: 10px;
  color: #fff;
  background: crimson;
  text-align: center;
  margin: 20px auto;
  display: block;
  font-weight: bold;
}
.top-news {
  background: #000;
  padding-bottom: 30px;
}
.top-news__description {
  width: 80%;
  margin: 0 auto;
}
.top-news__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 20px;
}
.top-news__ttl {
  color: #fff;
  font-size: 25px;
}
.top-news__btn {
  width: 150px;
  padding: 10px;
  color: #fff;
  background: crimson;
  text-align: center;
  margin: 10px 0;
  display: block;
  font-weight: bold;
}
.top-news__list {
  margin: 0 auto;
}
.top-news__item {
  background: #fff;
  padding: 15px;
  margin-bottom: 5px;
}
.top-news__link-data {
  padding-right: 10px;
  font-size: 12px;
}
.top-news__link-text {
  font-size: 15px;
  font-weight: bold;
}

.top-blog {
  width: 100%;
  margin-top: 30px;
}
.top-blog__ttl {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.top-blog__list {
  width: 90%;
  display: flex;
  margin: 0 auto;
}
.top-blog__item {
  margin-right: 10px;
}
.top-blog__item-data {
  margin: 10px 0;
  font-size: 12px;
}
.top-blog__item-text {
  font-size: 13px;
  font-weight: bold;
}
.top-blog__btn {
  width: 200px;
  padding: 10px;
  color: #fff;
  background: crimson;
  text-align: center;
  margin: 30px auto;
  display: block;
  font-weight: bold;
}

.top-company-list {
  display: flex;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
}
.top-company-item {
  width: 100%;
  line-height: 10;
  text-align: center;
}
.top-company-link {
  display: block;
  width: 100%;
  background: crimson;
}
.top-recruit-link {
  display: block;
  width: 100%;
  background: #000;
}

.top-inquiry {
  width: 100%;
  background: ghostwhite;
  text-align: center;
  padding-bottom: 50px;
}
.top-inquiry__ttl {
  font-size: 24px;
  padding-top: 50px;
  margin-bottom: 20px;
}
.top-inquiry__text {
  font-size: 15px;
  padding-bottom: 50px;
}
.top-inquiry__btn {
  width: 200px;
  padding: 10px;
  color: #fff;
  background: crimson;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-weight: bold;
}

.footer {
  background: #000;
  color: #fff;
  padding: 20px 0;
  font-size: 10px;
}
.footer-inner {
  width: 85%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-nav__list {
  display: flex;
  flex-wrap: wrap;
}
.footer-nav {
  margin: 0 0 0 auto;
}
.footer-nav__item {
  border-left: 1px solid #fff;
  padding: 0 10px;
}
.footer-nav__item:first-child {
  border-left: none;
}

@media screen and (max-width: 768px) {
  .top-mv__center {
    width: 80%;
    margin: 10px auto;
  }
  .header__nav {
    display: none;
  }
  .menu {
    display: inline-block;
    width: 10px;
    height: 32px;
    cursor: pointer;
    position: relative;
    padding: 0 60px;
    z-index: 10;
  }

  /* .menu__line--top,
  .menu__line--middle,
  .menu__line--bottom {
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: #000;
    position: absolute;
    transition: 0.5s;
  } */

  .menu-line-top {
    top: 0;
  }

  .menu-line-middle {
    top: 14px;
  }

  .menu-line-bottom {
    bottom: 0;
  }

  .menu.open span:nth-of-type(1) {
    top: 14px;
    transform: rotate(45deg);
  }

  .menu.open span:nth-of-type(2) {
    opacity: 0;
  }

  .menu.open span:nth-of-type(3) {
    top: 14px;
    transform: rotate(-45deg);
  }

  .drawer-nav{
    display: block;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: -100%;
    background: #fff;
    transition: .7s;
  }

  .drawer-nav-list {
    padding-top: 80px;
    text-align: center;
  }

  .drawer-nav-item {
    margin-top: 40px;
    color: #0033cc;
    font-size: 18px;
  }
  .top-service-box {
  width: 80%;
  margin: 10px auto;
  align-items: center;
}
.top-blog__list {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
}