img {
  width: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  position: static;
  color: #000;
  top: 0;
  left: 0;
  z-index: 1;
}
.header__nav {
  margin: 0 0 0 auto;
}
.header__ttl {
  font-size: 24px;
  width: 80px;
}
.header__nav-list {
  display: flex;
  font-weight: bold;
  padding-right: 0;
}
.header__nav-item:not(:last-child) {
  margin-right: 30px;
}

.top-mv {
  width: 100%;
  text-align: center;
  justify-content: center;
  display: flex;
  height: 85vh;
  background: url(../img/mv.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  line-height: 2;
}
.top-mv__center {
  width: 80%;
  margin: auto;
}
.top-mv__text {
  font-size: 50px;
  font-weight: bold;
}
.top-mv__text-sub {
  font-size: 20px;
  font-weight: bold
}

.top-mv-sub {
  position: relative;
  width: 100%;
  height: 30vh;
  background: #000;
  color: #fff;
}
.top-mv-sub-description {
  width: 80%;
  position: absolute;
  color: #fff;
  margin: 0 auto;
}
.top-mv-sub__ttl {
  display: flex;
  font-size: 28px;
  padding-top: 30px;
  padding-left: 30px;
}
.top-mv-sub__text {
  font-size: 15px;
  display: flex;
  line-height: 1.5;
  padding: 20px 30px;
}

.top-service {
  width: 100%;
}
.top-service__ttl {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}
.top-service__content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-box {
  width: 200px;
  margin: auto;
}
.top-service-box__btn {
  width: 200px;
  padding: 10px;
  color: #fff;
  background: crimson;
  text-align: center;
  margin: 20px auto;
  display: block;
}